<div class="panel-body" ng-model="contact">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					<strong>Conact Details</strong>
			</div>
			<div class="panel-body">
				<table class="table table-user-information">
					<tbody>
					  <tr>
						<td>Name:</td>
						<td>{{contact.name}}</td>
					  </tr>
					  <tr>
						<td>Email:</td>
						<td>{{contact.email}}</td>
					  </tr>
					  <tr>
						<td>Mobile</td>
						<td>{{contact.mobile}}</td>
					  </tr>
					</tbody>
				  </table>
			</div>
			<div class="panel-footer ">
				<div class="row">
					<div class="col-md-4 pull-right">
						<button type="button" class="btn btn-primary btn-sm" ng-click='goto("/contact/edit/"+contact.id)'>
							<span class="glyphicon glyphicon-edit"></span>
							Edit
						</button>
					</div>
					<div class="col-md-3 pull-right">
						<button type="button" class="btn btn-danger btn-sm" ng-click='goto("/contact/delete/"+contact.id)'>
							<span class="glyphicon glyphicon-remove-circle"></span> 
							Delete
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>