<div class="panel-body" ng-controller="AuthController">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Sign in to continue</strong>
            </div>
            <div class="panel-body">
                <form role="form" ng-submit="login()" method="POST" name="userLoginForm" novalidate="">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                <p class="help-block" ng-show="{{message != null}}"><i class="fa fa-warning"></i> {{message}}</p>
                                <div class="form-group">
                                    <div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
                                        <input ng-model="user.username" ng-required="true" class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                    </div>
                                    <p ng-show="hasErrors(userLoginForm, 'username')" class="help-block"><i class="fa fa-warning"></i> {{getErrors(userLoginForm, 'username')}}</p>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
                                        <input ng-model="user.password" ng-required="true" class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                    <p ng-show="hasErrors(userLoginForm, 'password')" class="help-block"><i class="fa fa-warning"></i> {{getErrors(userLoginForm, 'password')}}</p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-sm btn-primary btn-block" value="Sign in">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer ">
                Don't have an account! <a href="#/user/signup"> Sign Up Here </a>
            </div>
        </div>
    </div>
</div>