<div class="alert alert-success" role="alert" id="global-message" ng-show="{{message != null}}">
    <strong class="message">{{message}}</strong>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
			  <table class="table table-bordered table-striped">
                    <tr>
                        <td colspan="4">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default btn-sm pull-right" ng-click='goto("/contact/add")'>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    New Contact
                                </button>
                            </div>
                        </td>
                    </tr>
					<tr>
						<th><span class="glyphicon glyphicon-user"></span> Name</th>
						<th><span class="glyphicon glyphicon-envelope"></span> Email</th>
						<th><span class="glyphicon glyphicon-phone-alt"></span> Mobile</th>
						<th><span class="glyphicon glyphicon-tasks"></span> Action</th>
					</tr>
					<tr ng-repeat="contact in contacts">
						<td class="col-md-3">{{contact.name}}</td>
						<td class="col-md-3">{{contact.email}}</td>
						<td class="col-md-3">{{contact.mobile}}</td>
						<td class="col-md-2">
							<div class="col-md-1" ng-click='goto("/contact/edit/"+contact.id)'><span class="glyphicon glyphicon-edit"></span></div>
							<div class="col-md-1" ng-click='goto("/contact/delete/"+contact.id)'><span class="glyphicon glyphicon-remove-circle"></span></div>
                            <div class="col-md-1" ng-click='goto("/contact/details/"+contact.id)'><span class="glyphicon glyphicon-eye-open"></span></div>
						</td>
					</tr>
			  </table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    window.setTimeout(function() {
        $("#global-message").fadeOut('slow');
    }, 5000);
</script>